# تجاهل ملفات السجل
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# تجاهل مجلدات الحزم والمخرجات
node_modules/
dist/
dist-ssr/

# تجاهل الملفات المحلية
*.local

# تجاهل ملفات إعدادات المحررات
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# السماح بملفات معينة ضمن المجلدات التي تم تجاهلها
!.vscode/extensions.json
